/* src/components/ProductList.css */
.product-list {
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.listContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: nowrap;
}

.slidingInfo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.productBar {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-bottom: 40px;
}

.productBar p {
  margin: 5px 30px;
  padding: 15px;
}

.productBar p:hover {
  color: #ff0000;
  cursor: pointer;
}

button.prevButton,
button.nextButton {
  max-width: 2%;
  max-height: 2%;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; /* Adjust padding as needed */
  z-index: 1;
}

.prevButton {
  left: 7%;
}
.nextButton {
  right: 7%;
}

button.prevButton img,
button.nextButton img {
  width: 40px;
  height: 40px;
}

.prevButton img:hover,
.nextButton img:hover {
  filter: brightness(20%);
}

.viewAllText {
  position: absolute;
  color: #ff0000;
  right: 5%;
  transform: translateY(80%);
}

.viewAllText:hover {
  cursor: pointer;
}
