/* src/components/Product.css */
.handproduct-card {
    max-width: 40%;
    min-width: 23%;
    border: 1px solid #e0e0e0;
    padding: 5px;
    text-align: center;
    transition: all 0.3s ease;
    margin: 10px 20px;
}

.handproduct-card img {
    width: 100%;
    height: auto;
}

.handtitleContainer {
  display: flex;
  flex: 100%;
  margin-left: 5px;
  margin-top: 20px;
}

.handtitleContainer h3 {
    font-size: 1.2em;
    margin: 10px 0;
    flex: 90%;
    text-align: left;
    padding-left: 15px;
}

.handlikeImgContainer {
    display: flex;
    justify-content: center;
    align-items: start;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
}

.handlikeImg {
  margin-top: 18px;
  max-width: 100%;
  height: auto;
}

.handproduct-card p {
    color: #555;
    font-size: 1.2em;
    margin: 15px;
    text-align: left;
}

.handadd-to-cart-btn {
    width: 90%;
    background-color: #fff;
    border: 1px solid #555;
    color: #555;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.handproduct-card.hover {
    border-color: #ff0000;
}

.handproduct-card.hover .handadd-to-cart-btn {
    background-color: #ff0000;
    color: #fff;
    border: 1px solid #ff0000;
}
