/* src/components/ProductList.css */
.handproduct-list {
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.handlistContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: nowrap;
}

.handslidingInfo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3cm;
}

.handproductBar {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-bottom: 40px;
}

.handproductBar p {
  margin: 5px 30px;
  padding: 15px;
}

.handproductBar p:hover {
  color: #ff0000;
  cursor: pointer;
}

button.handprevButton,
button.handnextButton {
  max-width: 2%;
  max-height: 2%;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; /* Adjust padding as needed */
  z-index: 1;
}

.handprevButton {
  left: 7%;
}
.handnextButton {
  right: 7%;
}

button.handprevButton img,
button.handnextButton img {
  width: 40px;
  height: 40px;
}

.handprevButton img:hover,
.handnextButton img:hover {
 filter: brightness(20%);
}

.handviewAllText {
  position: absolute;
  color: #ff0000;
  right: 5%;
  transform: translateY(80%);
}

.handviewAllText:hover {
  cursor: pointer;
}
