.wishlist-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.wishlist-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: red;
  margin-top: 3cm;
}

.wishlist-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1cm;
}

.wishlist-table th, .wishlist-table td {
  padding: 15px;
  border: 1px solid #ddd;
}

.wishlist-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.product-info {
  display: flex;
  align-items: center;
}

.product-img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.stock-status {
  color: green;
}

.add-to-cart {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: #45a049;
}
