.elegantflex{
    display: flex;
    align-items: center;
    gap : 3rem;
    /* align-content: end; */
}

*{
    margin: 0;
}

.elegantnav{
    display: flex;
    height: 13vw ;
    width: 100vw;
    align-items: center;
    background-color: rgb(211, 208, 208);
    padding: 1rem 0  1rem 0.25rem;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 80px;
}

.elegantimgh{
    border-radius: 100%;
    width: 100%;
    height: 100%;
}



@media  screen and (max-width: 768px) {
    .elegantflex,.elegantnav{
        display: grid;
        align-items: center;
        justify-content: center;
        width: auto;
        gap: 1rem;
    }
}