.flex-con{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.flex-con2{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
}


.heading-shop,.head-shop{
    padding: 1rem 0 1rem 0;
    margin-top: 60px;
}

.img-shop{
    border-radius: 50%;
    width: 70%;
    height: 70%;
}