.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .heading {
    text-align: center;
    font-size: 3em;
    margin-bottom: 20px;
    color: red; 
  }
  .text{
    text-align: left;
    color: #4D4D4D ;
  }
  
  ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    color: #007bff; 
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }