/* src/components/ProductList.css */
.popularproduct-list {
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.popularlistContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: nowrap;
}

.popularslidingInfo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popularproductBar {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-bottom: 40px;
}

.popularproductBar p {
  margin: 5px 30px;
  padding: 15px;
}

.popularproductBar p:hover {
  color: #ff0000;
  cursor: pointer;
}

button.popularprevButton,
button.popularnextButton {
  max-width: 2%;
  max-height: 2%;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; /* Adjust padding as needed */
  z-index: 1;
}

.popularprevButton {
  left: 7%;
}
.popularnextButton {
  right: 7%;
}

button.popularprevButton img,
button.popularnextButton img {
  width: 40px;
  height: 40px;
}

.popularprevButton img:hover,
.popularnextButton img:hover {
  filter: brightness(20%);
}

.popularviewAllText {
  position: absolute;
  color: #ff0000;
  right: 5%;
  transform: translateY(80%);
}

.popularviewAllText:hover {
  cursor: pointer;
}
